{% extends "_base.html" %}

{% block content %}

<div class="starter-template">
    <h1>Nudge Beta</h1>
    <hr><br>
    <div>
        <h3>Market Sockets</h3>
        <br>
        <button id="start-sockets">Start Socket</button>

    </div>
    <br><br>
    <div>
      <h3>Status</h3>
      <br>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Status</th>
            <th width="40%">Result</th>
          </tr>
        </thead>
        <tbody id="tasks">
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
